/*

	<div id="logo-xpark" class=logo>
		<div class=title>XparK</div>
		<div class=subtitle>
			an annual online social Coding competition.
		</div>
	</div>	

***************************/


@import url(http://fonts.googleapis.com/css?family=Wallpoet);

#logo-xpark {
	background-color: red;	
	font-family: sans-serif;
	margin: 10px;
	padding: 15px;
	padding-bottom: 50px;
	width: 280px;
}

#logo-xpark .title {
	color: black;
	font-family: "wallpoet", serif;
	font-size: 90px;
	letter-spacing: -11px;
}

#logo-xpark .subtitle {
	background-color: black;
	color: red;
	font-size: 10px;
	line-height: 14px;
	margin-top: -27px;
	text-align: right;
}